<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link rel="shortcut icon" type="image/png" href="/img/logox1024.png">
    <link rel="shortcut icon" type="image/png" href="/img/logox128.png">
    <link rel="shortcut icon" type="image/svg" href="/img/logo.svg">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if description %}
        <meta name="description" content="{{ description }}">
    {% endif %}

    {% if refresh_after %}
        <meta http-equiv="refresh" content="{{ refresh_after }}">
    {% endif %}

    {% block _stylesheets %}{% endblock %}
    {% block _scripts %}
        <script src="/js/app.js" defer></script>
    {% endblock %}
</head>
<body>

<header>
    {% block header %}{% endblock %}
</header>

{% block _body %}{% endblock %}

<footer>{% block footer %}{% endblock %}</footer>

</body>
</html>