{% extends 'layouts/base.njk' %}
{% import 'macros.njk' as macros %}

{% set actionType = magicLink.action_type %}
{% set title = 'WMS: Magic Link' + (' - ' + actionType if actionType) %}
{% set h1 = 'Magic Link' + (' - ' + actionType if actionType) %}

{% block body %}
    <div class="container">
        <div class="panel">
            {% if err %}
                {{ macros.message('error', err) }}
            {% else %}
                {{ macros.message('success', 'Success!') }}
                <p>You can now close this page.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}