{% extends 'mails/base_layout.mjml.njk' %}

{% block body %}
    <mj-section>
        <mj-column>
            <mj-text mj-class="title">
                {% if approved %}
                    Your registration was approved!
                {% else %}
                    Sorry, your registration was rejected.
                {% endif %}
            </mj-text>
            <mj-text>
                {% if approved %}
                    An administrator approved your registration. You can now log in to your account.
                {% else %}
                    Your registration was rejected and your account was deleted from our database.
                    If you believe that this is an error, please contact us via email.
                {% endif %}
            </mj-text>

            {% if approved %}
                <mj-button href="{{ link | safe }}">Login</mj-button>
            {% endif %}
        </mj-column>
    </mj-section>
{% endblock %}

{% block text %}
    {% if approved %}
        Hi
        Your registration was approved!

        You can now log in to your account by follwing this link: {{ link|safe }}
    {% else %}
        Hi
        Sorry, your registration was rejected. Your account was deleted from our database.

        If you believe that this is an error, please contact us via email.
    {% endif %}
{% endblock %}