{% extends 'mails/base_layout.mjml.njk' %}

{% block body %}
    <mj-section>
        <mj-column>
            <mj-text mj-class="title">
                {% if type == 'register' %}
                    Register an account on {{ app.name }}
                {% else %}
                    Log in to {{ app.name }}
                {% endif %}
            </mj-text>
            <mj-text>
                {% if type == 'register' %}
                    Someone has requested an account registration for <strong>{{ mail_to }}</strong>. If it was not you,
                    please ignore this message.
                {% else %}
                    Someone is attempting to log in to your account <strong>{{ mail_to }}</strong>.
                {% endif %}
            </mj-text>

            {% if type == 'register' %}
                <mj-button href="{{ link | safe }}">Finalize my account registration</mj-button>
            {% else %}
                <mj-text>If it is not you, <strong>DO NOT CLICK ON THIS BUTTON</strong>.</mj-text>
            {% endif %}
        </mj-column>
    </mj-section>

    {% if type == 'login' %}
        <mj-section background-color="#1b252d">
            <mj-column>
                <mj-text mj-class="important-line" padding-bottom="0px">
                    IP: <strong>{{ ip }}</strong>
                </mj-text>
                <mj-text mj-class="important-line">
                    Location: <strong>{{ geo }}</strong>
                </mj-text>
            </mj-column>
            <mj-column>
                <mj-button href="{{ link | safe }}" padding="20px 0" background-color="#caa200">
                    Authorize log in
                </mj-button>
            </mj-column>
        </mj-section>
    {% endif %}
{% endblock %}

{% block text %}
    {% if type == 'register' %}
        Hi!
        Someone requested an account registration for {{ mail_to }}. If it was not you,
        please ignore this message.

        To finalize your account registration, please follow this link: {{ link|safe }}
    {% else %}
        Hi!
        Someone is attempting to log in to your account {{ mail_to }}.

        If it is not you, DO NOT FOLLOW THIS LINK.

        IP: {{ ip }}
        Location: {{ geo }}
        To authorize this log in, please follow this link: {{ link|safe }}
    {% endif %}
{% endblock %}