{% extends 'mails/base_layout.mjml.njk' %}

{% block body %}
    <mj-section>
        <mj-column>
            <mj-text mj-class="title">
                New user account on {{ app.name }}
            </mj-text>
            <mj-text>
                A new user is pending review on {{ app.name }}.
                <br>
                Username: {{ username }}
            </mj-text>

            <mj-text><a href="{{ link | safe }}">Go to account reviews</a></mj-text>
        </mj-column>
    </mj-section>
{% endblock %}

{% block text %}
    Hi!
    A new user is pending review on {{ app.name }}.

    Username: {{ username }}
    To review this account, please follow this link: {{ link|safe }}
{% endblock %}