{% extends 'layouts/base.njk' %}

{% set title = app.name + ' backend' %}

{% block body %}
    <div class="container">
        {{ macros.breadcrumb('Backend') }}

        <h1>App administration</h1>

        <div class="panel">
            <nav>
                <ul>
                    {% for element in menu %}
                        <li>
                            <a href="{{ element.link }}">
                                {% if element.display_icon !== null %}
                                    <i data-feather="{{ element.display_icon }}"></i>
                                {% endif %}
                                {{ element.display_string }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}